.banner-bg {
  background-image: url(/images/single-page-banner.jpg);
  color: white;
  background-size: cover;
}
.ptb200 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay2 {
  position: relative;
  z-index: 0;
}
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.banner-inner p{
  color: white;
}
.prod-listing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prod-image-column {
  background: #076a8f;
}
.prod-image-column img{
  width: 100%;
  height: 100%;
  padding: 0px 20px 20px 0px;
}
.prod-details {
  background-color: #076a8f;
  color: white;
  align-content: center;
}
.orange-underline:before {
  content: "";
  position: absolute;
  top: 34%;
  height: 5px;
  width: 55px;
  background-color: #f79648;
}
.orange-underline:after {
  content: "";
  position: absolute;
  top: 133px;
  right: 21%;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #f79648;
}
.orange-underline2:before {
  content: "";
  position: absolute;
  top: 21%;
  height: 5px;
  width: 55px;
  background-color: #f79648;
}
.prob-right-details {
  display: flex;
  flex-direction: column;
  
}
.orange-underline2:after {
  content: "";
  position: absolute;
  top: 83px;
  right: 21%;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #f79648;
}
.orange-underline3:before {
  content: "";
  position: absolute;
  top: 121px;
  height: 5px;
  width: 55px;
  background-color: #f79648;
}
.orange-underline3:after {
  content: "";
  position: absolute;
  top: 123px;
  right: 21%;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #f79648;
}
.prod-details p{
  color: white;
}
.orange-underline-center:before{
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 3%);
  height: 5px;
  width: 55px;
  background-color: #f79648;
} 
.orange-underline-center:after{
  content: "";
  position: absolute;
  top: 71px;
  left: calc(43% - 3%);
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #f79648;
} 
.bg-light {
  background-color: #f2f2f2;
  display: flex;
}
.orange-underline-center2:before{
  content: "";
  position: absolute;
  top: 18%;
  left: calc(50% - 3%);
  height: 5px;
  width: 55px;
  background-color: #f79648;
} 
.orange-underline-center2:after{
  content: "";
  position: absolute;
  top: 73px;
  left: calc(43% - 3%);
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #f79648;
} 
.product-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.product-features-inner {
  display: flex;
  transition: 0.5s;
  border-radius: 10px;
  gap: 20px;
}
.bg-white {
  background-color: #fff !important;
}
.product-features-inner:hover {
  position: relative;
  background: #13357b !important;
  color: white;
}
.product-features-inner:hover p {
  color: white;
}
.border-primary {
  border: 1px solid #13357b !important;
}
.rounded {
  border-radius: 10px !important;
}
.product-features .product-icon .text-primary {
  color: #176b91;
}
.product-features-inner:hover i {
  color: var(--bs-white) !important;
}
.product-features .product-icon {
  display: flex;
  align-items: center;
}
.fa-6x {
  font-size: 5em;
}